{{#each items}}
<li class="list-group-item" data="{{key}}">
    <div class="li-left">
        <i class="fas fa-folder"></i>
        <div class="li-desc">
            <h5>{{name}}</h5>
            <p>{{sql.server}},{{sql.database}}</label>
        </div>
    </div>
    <button type="button" class="close" title="Remove from list">
        <i class="fas fa-times"></i>
    </button>
    <!-- <div class="row">
        <div class="col-7 list-recent-name">
            <div>
            {{name}}
        </div>
        <div>
            {{sql.server}},{{sql.database}}
        </div>
        </div>
        <div class="col-4">
            {{lastAccess}}
        </div>
        <div class="col-1">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{classPath}}
        </div>
    </div> -->
</li>
{{/each}}