
#code-container{
  width: 100%;
  height: 100vh;
}

.code-margin {
  border-left: solid 1px black;
}

.nav-toolbar {
    padding-right: 0;
    padding-left: 0;
    border-bottom: solid 1px black;
}

#lst-recent .list-recent-name {
  cursor: pointer;
}

#lst-recent .list-group-item:hover {
  background: #5381f5;
}

.tree-container {
  overflow: auto;
  height: 95vh;
}